p {
    font-family: "Times New Roman", sans-serif;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
    word-spacing: 1em;
    line-height: 2.4;
    text-transform: none;
    text-decoration: overline underline dotted red;
    text-align: center;
    text-shadow: 1px 1px 1px red, 2px 2px 1px green;
}