* {
    margin: 0;
}

.container {
    display: flex;
    margin: 2rem;
    gap: 1rem;
}

aside,
main {
    border: 1px solid;
    height: 85vh;
    background: lightgrey;
}

aside {
    flex-basis: 25%;
}

main {
    flex: 1;
}