.box {
    display: flex;
    border: 1px dashed red;
}

.box div {
    border: 1px solid;
    /* flex-basis recebe também: px, %, em e rm*/
    flex-basis: 50px;
    /* width: 25px; */
}

.box div:nth-child(1) {
    /* A propriedade width não surge efeito pois o flex-basis esta definido */
    width: 25px;
    height: 200px;
}